language: csharp
solution: ./SimpleStepWriterSolution/SimpleStepWriterSolution.sln
mono:
  - latest
install:
  - nuget restore ./SimpleStepWriterSolution/SimpleStepWriterSolution.sln
  - nuget install NUnit.Console -Version 3.10.0 -OutputDirectory testrunner
script:
  - msbuild /p:Configuration=Release /p:Platform=x64 ./SimpleStepWriterSolution/SimpleStepWriterSolution.sln
  - mono ./testrunner/NUnit.ConsoleRunner.3.10.0/tools/nunit3-console.exe ./SimpleStepWriterSolution/SimpleStepWriter.Tests/bin/Release/SimpleStepWriter.Tests.dll
  